<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/CSS/bootstrap.min.css"/>
        <link rel="stylesheet" href="stylesheets/CSS/style.css" />
    </head>
    <body>
        <div id ="header"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 pink">
                    <p class="parrafoLetraGrande">
                        Somos una compañia emergente que cuenta con todas <br>
                        las ganas de crecer en el corto y mediano plazo <br>
                        en el sector textil. <br>
                    </p>
                </div>
                <div class="col-md-1 divHeader">
                    <a href="https://www.facebook.com/" target="_blank" title="https://www.facebook.com/">
                        <img src="images/facebook.jpg" alt="facebook" width="75px" height="75px"/>
                    </a>
                    <a href="https://twitter.com/" target="_blank" title="https://twitter.com/">
                        <img src="images/twiter.png" alt="twiter" width="75px" height="75px">
                    </a>
                </div>
            </div>
        </div>
    </body>
    <script src="javascripts/JS/navBarHeader.js"></script>
</html>