<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets/CSS/bootstrap.min.css"/>
        <link rel="stylesheet" href="stylesheets/CSS/style.css" />
    </head>
    <body>
        <div id ="header"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 pink">
                    <div class="album py-5 pink">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img src="images/VestidoAmarillo.jpg" />
                                        <p>Precio 150$</p>
                                        <div class="card-body">
                                            <p class="card-text">Vestido corto dama amarillo.</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">I like</button>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zoom it</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img src="images/VestidoNegroFlores.jpg"/>
                                        <p>Precio 200$</p>
                                        <div class="card-body">
                                            <p class="card-text">Vestido corto dama negro flores.</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">I like</button>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zoom it</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img src="images/VestidoAzul.jpg"/>
                                        <p>Precio 500$</p>
                                        <div class="card-body">
                                            <p class="card-text">Vestido niña azul corto.</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">I like</button>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">Zoom it</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 divHeader">
                    <a href="https://www.facebook.com/" target="_blank" title="https://www.facebook.com/">
                        <img src="images/facebook.jpg" alt="facebook" width="75px" height="75px"/>
                    </a>
                    <a href="https://twitter.com/" target="_blank" title="https://twitter.com/">
                        <img src="images/twiter.png" alt="twiter" width="75px" height="75px">
                    </a>
                </div>
            </div>
        </div>

    </body>
    <script src="javascripts/JS/navBarHeader.js"></script>
</html>